<%- include('header') %>
    <% if(error){ %>
        <%= error %>
            <% }else{ %>

                <h1>Cotacao: <%= cotacao %>
                </h1>
                <h1>Dolares: <%= dolares %>
                </h1>
                <h1>Resultado: <%= resultado %>
                </h1>
                <% } %>

                    <%- include('footer') %>