<%- include('header') %>
    <% if(error){ %>
        <%= error %>
            <%} else if(cotacaoManual){ %>
                <h1>Cotacao: <%= cotacaoManual %>
                </h1>
                <h1>Dolares: <%= dolares %>
                </h1>
                <h1>Valor: <%= resultadoManual %>
                </h1>
                <% }else{ %>

                    <h1>Cotacao para venda: <%= cotacaoVenda %>
                    </h1>
                    <h1>Cotacao para compra: <%= cotacaoCompra %>
                    </h1>
                    <h1>Dolares: <%= dolares %>
                    </h1>
                    <h1>Valor de venda: <%= resultadoVenda %>
                    </h1>
                    <h1>Valor de compra: <%= resultadoCompra %>
                    </h1>
                    <% } %>

                        <%- include('footer') %>