<%- include('header') %>



    <form method="GET" action="/">
        <div class="campoFormulario">
            <label>Cotação*: </label>
            <input name="cotacaoManual" value=<%=cotacao %> placeholder= <%=cotacaoVenda %> >
                <p>*Para usar a cotação do banco central, deixe em branco</p>
        </div>
        <div class="campoFormulario">
            <label>Quantidade em dólares: </label>
            <input name="dolares" placeholder="Dolares" value=<%=dolares %>>
        </div>
        <button>Converter</button>
    </form>
    <div class="painelResultado">
        <h1>Valor de venda: <%= 'R$' + ' ' + resultadoVenda %>
        </h1>
        <h1>Valor de compra: <%= 'R$' + ' ' + resultadoCompra %>
        </h1>
        <h1 id="horaCotacao">Hora da cotação: <%= horaCotacao %>
        </h1>
    </div>
    <%- include('footer') %>